---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <meta name=description content="{{ site.bio }}">
  <meta name=author content="{{ site.name }}">

  {% seo %}

  {% include favicon.html %}

  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

  <style>
    {% capture scss_sheet %}{% include style.scss %}{% endcapture %}
    {{ scss_sheet | scssify }}
  </style>
</head>
<body class="h-card">
  {{ content }}

  <script>
  (function (w,d,s,o,f,js,fjs) {
  w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
  js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
  js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
  }(window, document, 'script', 'plausible', 'https://plausible.io/js/p.js'));

  plausible('page')
</script>

    <script src="https://graphjs.com/v1/graph.js"></script>
  <script>
GraphJS.init("07660876-c7e1-44a4-86c3-754799733ff0", {
    host: "https://accounts.graphjs.com",
    theme: "dark",
    color: "#a085c6"
});
</script>
</body>
</html>
